<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <app-header></app-header>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- Not an element/selector, but is a directive provided by the router module -->
      <!-- Tells Angular to load the root routes registered in the router in app.module. -->
      <!-- So http://localhost:4200/ loads the TabsComponent and http://localhost:4200/new-character loads the CreateCharacterComponent in place of <router-outlet></router-outlet> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
